<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.hopi_app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hopi_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignupActivity"
            android:label="Sign Up"
            android:theme="@style/AppTheme.Toolbar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAsgUzUpFRAmqva17Gt6n6ZSy7AwlI6sss" />

        <activity
            android:name=".Activity.MapsActivity"
            android:label="@string/title_activity_maps"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.FriendRequestActivity"
            android:label="Friend Requests"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.FriendsActivity"
            android:label="Friends List"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.UsersActivity"
            android:label="Users List"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.EditInfoActivity"
            android:label="Edit Info"
            android:theme="@style/AppTheme.Toolbar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.ProfileActivity" />
        </activity>
        <activity
            android:name=".Activity.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.Toolbar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activity.FriendsActivity" />
        </activity>

        <!-- ADMIN -->
        <activity
            android:name=".Admin.AdminMainActivity"
            android:label="Admin Dashboard"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".Admin.AdminUsersActivity"
            android:label="Users List"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.AdminSignupActivity"
            android:label="Add User"
            android:theme="@style/AppTheme.Toolbar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Admin.AdminMainActivity" />
        </activity>
        <activity
            android:name=".Admin.AdminProfileActivity"
            android:label="User Profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.AdminEditInfoActivity"
            android:label="Edit Profile"
            android:theme="@style/AppTheme.Toolbar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Admin.AdminProfileActivity" />
        </activity>
        <activity
            android:name=".Admin.AdminDeleteActivity"
            android:label="User Profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.AdminAuditTrailActivity"
            android:label="Audit Trail"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.AdminOnlineActivity"
            android:label="Online Users"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin.AdminOfflineActivity"
            android:label="Offline Users"
            android:theme="@style/AppTheme" />
    </application>

</manifest>
